<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Index</title>
</head>
<body>
<h1>Equipment Tracker Index</h1>
<a href="/equipment/new"><button>Add item</button></a>
<p>All Items:</p>
<ul>
	<% for (item of items) {%>
	<div class="item-box">
    	<p><span class="form-text">Item</span>: <%=item.name%></p>
    	<p><span class="form-text">Description</span>: <%=item.description%></p>
    	<p><span class="form-text">Department</span>: <%=item.department %></p>
    	<p><span class="form-text">Date Added</span>: <%=item.createdAt %></p>
    	<p><span class="form-text">ID</span>: <%=item._id %></p>
    	<p>View 
    </div>
	<% } %>
</ul>

</body>
</html>